.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    position: relative;
    transition: transform 0.5s ease; /* 슬라이드 전환 애니메이션 추가 */
}

.slide {
    width: 100%;
    display: none;
}

.slide img,
.preview {
    width: 100px;
    height: 100px;
}



.slide.active {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
