<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-header">

    <div th:fragment="fragment-header">
        <!-- 네비게이션 바 -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top coral-bg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/images/로고.png" alt="로고 이미지" width="50" height="50">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/main">홈</a>
                        </li>
                    </ul>
                    <form th:action="@{/login}" method="get">
                        <button class="login-btn" type="submit">로그인</button>
                    </form>
                    <form th:action="@{/join}" method="get">
                    <button class="signup-btn">회원가입</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>
