<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-header">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">로고</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">홈</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-success login-btn" type="submit">로그인</button>
            </form>
            <button class="btn btn-outline-primary signup-btn">회원가입</button>
        </div>
    </div>
</nav>

</div>