body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    /* background-color: coral; */
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 600px;
    font-size: 16px;
}

.search-btn {
    padding: 10px 20px;
    background-color: coral;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-filter {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}


.checkbox-container {
    display: inline-block;
    width: 22%;
    text-align: center;
    margin: 1%;
    vertical-align: top;
}
.checkbox-image {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.checkbox-image.selected {
    border-color: coral;
    background-color: coral;
    border-radius: 10px;
}

.hidden-checkbox {
    display: none;
}

button[type="submit"].check {
    background-color: coral;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

form {
    text-align: center;
}

