<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Checkbox Example</title>
  <style>
    .checkbox-container {
      display: inline-block;
      width: 22%;
      text-align: center;
      margin: 1%;
      vertical-align: top;
    }
    .checkbox-image {
      width: 100px;
      height: 100px;
      cursor: pointer;
      border: 2px solid transparent;
      transition: border-color 0.3s;
    }
    .checkbox-image.selected {
      border-color: blue;
    }
    .hidden-checkbox {
      display: none;
    }
  </style>
</head>
<body>
<form th:action="@{/submit}" method="post">
  <div class="checkbox-container" onclick="toggleCheckbox(1)">
    <input type="checkbox" name="selectedValues" value="1" class="hidden-checkbox" id="checkbox-1">
    <img src="/images/관절.png" alt="Image 1" class="checkbox-image" id="image-1">
    <br>
    <span>Description 1</span>
  </div>
  <div class="checkbox-container" onclick="toggleCheckbox(2)">
    <input type="checkbox" name="selectedValues" value="2" class="hidden-checkbox" id="checkbox-2">
    <img src="/images/근육.png" alt="Image 2" class="checkbox-image" id="image-2">
    <br>
    <span>Description 2</span>
  </div>
  <div class="checkbox-container" onclick="toggleCheckbox(3)">
    <input type="checkbox" name="selectedValues" value="3" class="hidden-checkbox" id="checkbox-3">
    <img src="/images/기억력.png" alt="Image 3" class="checkbox-image" id="image-3">
    <br>
    <span>Description 3</span>
  </div>
  <div class="checkbox-container" onclick="toggleCheckbox(4)">
    <input type="checkbox" name="selectedValues" value="4" class="hidden-checkbox" id="checkbox-4">
    <img src="/images/눈.png" alt="Image 4" class="checkbox-image" id="image-4">
    <br>
    <span>Description 4</span>
  </div>
  <div class="checkbox-container" onclick="toggleCheckbox(5)">
    <input type="checkbox" name="selectedValues" value="5" class="hidden-checkbox" id="checkbox-5">
    <img src="/images/면역력.png" alt="Image 5" class="checkbox-image" id="image-5">
    <br>
    <span>Description 5</span>
  </div>
  <div class="checkbox-container" onclick="toggleCheckbox(6)">
    <input type="checkbox" name="selectedValues" value="6" class="hidden-checkbox" id="checkbox-6">
    <img src="/images/뼈.png" alt="Image 6" class="checkbox-image" id="image-6">
    <br>
    <span>Description 6</span>
  </div>
  <div class="checkbox-container" onclick="toggleCheckbox(7)">
    <input type="checkbox" name="selectedValues" value="7" class="hidden-checkbox" id="checkbox-7">
    <img src="/images/소화.png" alt="Image 7" class="checkbox-image" id="image-7">
    <br>
    <span>Description 7</span>
  </div>
  <div class="checkbox-container" onclick="toggleCheckbox(8)">
    <input type="checkbox" name="selectedValues" value="8" class="hidden-checkbox" id="checkbox-8">
    <img src="/images/피로.png" alt="Image 8" class="checkbox-image" id="image-8">
    <br>
    <span>Description 8</span>
  </div>
  <div style="clear: both;"></div>
  <button type="submit">확인</button>
</form>

<script>
  function toggleCheckbox(id) {
    var checkbox = document.getElementById('checkbox-' + id);
    var image = document.getElementById('image-' + id);
    checkbox.checked = !checkbox.checked;
    if (checkbox.checked) {
      image.classList.add('selected');
      // 체크되었을 때 이미지에 색상 채우기
      image.style.backgroundColor = 'coral';
    } else {
      image.classList.remove('selected');
      // 체크 해제되었을 때 이미지의 색상 제거
      image.style.backgroundColor = 'transparent';
    }
  }
</script>
</body>
</html>
