<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 정보</title>

    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>

<div th:replace="/fragments/header.html :: fragment-header"></div>

<div class="container">
    <h1>제품 검색</h1>
    <form action="#" th:action="@{/search}" method="get">
        <input type="text" name="keyword" placeholder="제품명을 입력하세요">
        <button type="submit">검색</button>
    </form>
    <hr>
    <h2>검색 결과</h2>
    <div th:if="${not #lists.isEmpty(products)}">
        <div th:each="product : ${products}">
            <!-- 카드 형식의 제품 정보 -->
        </div>
    </div>
    <div th:if="${#lists.isEmpty(products)}">
        <p>검색 결과가 없습니다.</p>
    </div>
</div>

<div class="container">
    <h1>제품 정보</h1>
    <div th:each="product : ${products}">
        <div class="card">
            <h2 th:text="${product.prdlstNm}"></h2>
            <p><span class="field">섭취 방법:</span> <span th:text="${product.ntkMthd}"></span></p>
            <p><span class="field">주된 기능성:</span> <span th:text="${product.primaryFnclty}"></span></p>
            <p><span class="field">유통기한:</span> <span th:text="${product.pog_Daycnt}"></span></p>
            <p><span class="field">섭취 시 주의사항:</span> <span th:text="${product.IFTKN_ATNT_MATR_CN}"></span></p>
            <p><span class="field">보관 방법:</span> <span th:text="${product.CSTDY_MTHD}"></span></p>
            <p><span class="field">원료명:</span> <span th:text="${product.RAWMTRL_NM}"></span></p>
        </div>
    </div>
</div>
</body>
</html>
